html {
  font-size: 62.5%;
}
.navigation {
  position: fixed;
  z-index: 9001;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f99e54;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
}
.navigation a {
  color: #f99e54;
  box-sizing: border-box;
  padding: 10px 20px;
  transition: color 300ms;
}
@media (min-width: 1024px) {
  .navigation a {
    color: #133139;
  }
  .navigation a:hover {
    color: #f99e54;
    text-decoration: none;
  }
}
.navigation .active {
  color: #133139;
  background-color: #f99e54;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .navigation .active {
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
  }
  .navigation .active:hover {
    color: #f99e54;
  }
}
.login {
  background-image: linear-gradient(to left bottom, #133139, #15434f, #155667, #136a81, #0e7e9b, #1e8aaa, #2b97ba, #38a3ca, #4daad2, #5fb1d9, #70b9e1, #7fc0e8);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 50000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login div .login__form--container {
  width: 100%;
  max-width: 450px;
  height: 600px;
  margin-bottom: 15px;
  background-color: #55a04b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.login div .login__form--head {
  background-image: url("../img/login-header-bg.jpeg");
  background-color: #cccccc;
  height: 250px;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.login div form {
  margin-top: 70px;
  width: 80%;
}
.login div form .login__input--container {
  font-size: 1.6rem;
}
.login div form .login__input--container i {
  margin-right: 12px;
  color: white;
}
.login div form .login__input--container input {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #133139;
  padding: 5px 10px;
  height: 25px;
  width: 50%;
  color: white;
  letter-spacing: 1px;
  transition: width 0.7s, height 0.7s, background-color 0.7s, color 0.7s;
}
.login div form .login__input--container input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:focus {
  outline: none;
  height: 35px;
  width: 65%;
  background-color: #133139;
}
.login div form .login__input--container input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.login div form .login__input--container input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
.login div form .login__input--container input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
.login div form .login__input--container input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
.login div form div {
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 25px;
}
.login div form div span {
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.login div form button {
  display: block;
  margin: 0 auto;
  border: 2px solid #133139;
  height: 30px;
  width: 150px;
  background-color: transparent;
  color: #133139;
  letter-spacing: 1px;
  font-size: 1.6rem;
  transition: background-color 0.5s, color 0.5s, height 0.5s, width 0.5s, font-size 0.5s;
}
.login div form button:focus {
  outline: none;
}
.login div form button:hover {
  background-color: #133139;
  color: white;
  height: 40px;
  width: 170px;
  font-size: 2rem;
}
.login div p {
  font-size: 1.4rem;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}
.home .grid {
  width: 100%;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .home .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home .grid .tripgrid__card {
  background-color: #ddd;
  text-align: center;
  font-size: 1.8rem;
  padding: 8px 12px;
}
.home .grid .tripgrid__card:nth-of-type(even) {
  background-color: #eee;
}
/* Modal Styles */
div .modal.show .modal-dialog {
  transform: translateY(20%);
}
div .modal.show .modal-dialog .modal-body {
  display: flex;
}
div .modal.show .modal-dialog .modal-body .modal-info {
  display: flex;
}
div .modal.show .modal-dialog .modal-body .modal-info img {
  width: 150px;
  height: 150px;
}
div .modal.show .modal-dialog .modal-body .modal-info div {
  margin: 10px;
}
div .modal.show .modal-dialog .modal-footer {
  justify-content: space-between;
}
