/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
}
.login {
  background-image: linear-gradient(to left bottom, #133139, #15434f, #155667, #136a81, #0e7e9b, #1e8aaa, #2b97ba, #38a3ca, #4daad2, #5fb1d9, #70b9e1, #7fc0e8);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login div .login__form--container {
  width: 100%;
  max-width: 450px;
  height: 600px;
  margin-bottom: 15px;
  background-color: #55a04b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.login div .login__form--head {
  background-image: url("../img/login-header-bg.jpeg");
  background-color: #cccccc;
  height: 250px;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.login div form {
  margin-top: 70px;
  width: 80%;
}
.login div form .login__input--container {
  font-size: 2rem;
}
.login div form .login__input--container i {
  margin-right: 12px;
  color: white;
}
.login div form .login__input--container input {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #133139;
  padding: 5px 10px;
  width: 40%;
  color: white;
  letter-spacing: 1px;
  transition: width 0.7s, height 0.7s, background-color 0.7s, color 0.7s;
}
.login div form .login__input--container input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:focus {
  outline: none;
  height: 20px;
  width: 52%;
  background-color: #133139;
}
.login div form .login__input--container input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.login div form .login__input--container input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
.login div form .login__input--container input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
.login div form .login__input--container input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
.login div form div {
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 25px;
}
.login div form div span {
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.login div form button {
  display: block;
  margin: 0 auto;
  border: 2px solid #133139;
  height: 30px;
  width: 150px;
  background-color: transparent;
  color: #133139;
  letter-spacing: 1px;
  font-size: 1.6rem;
  transition: background-color 0.5s, color 0.5s, height 0.5s, width 0.5s, font-size 0.5s;
}
.login div form button:focus {
  outline: none;
}
.login div form button:hover {
  background-color: #133139;
  color: white;
  height: 40px;
  width: 170px;
  font-size: 2rem;
}
.login div p {
  font-size: 1.4rem;
}
