.login {
  background-image: linear-gradient(to left bottom, #133139, #15434f, #155667, #136a81, #0e7e9b, #1e8aaa, #2b97ba, #38a3ca, #4daad2, #5fb1d9, #70b9e1, #7fc0e8);
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login__form--container {
      width: 100%;
      max-width: 450px;
      height: 600px;
      margin-bottom: 15px;

      background-color: #55a04b;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    .login__form--head {
      background-image: url("../img/login-header-bg.jpeg");
      background-color: #cccccc;
      height: 250px;
      width: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    form {
      margin-top: 70px;

      .login__input--container {
        font-size: 2rem;

        i {
          margin-right: 12px;
        }
      }

      div {
        flex-direction: row;

        margin: 0 auto;
        margin-bottom: 25px;

        span {
          font-size: 1.2rem;
          margin-bottom: 3px;
        }
      }

      button {
        display: block;
        margin: 0 auto;
        border: none;

        height: 30px;
        width: 150px;

        background-color: #133139;
        color: white;

        letter-spacing: 1px;

        transition: background-color .5s, color .5s, height .5s, width .5s, font-size .5s;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #7fc0e8;
          color: #133139;
          font-weight: bold;
          height: 40px;
          width: 170px;

          font-size: 1.6rem;
        }
      }
    }

    p {
      font-size: 1.4rem;
    }
  }
}
