.home {
    .grid {
    width: 100%;
    background-color: #eee;

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media(min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }


    .tripgrid__card {
      background-color: #ddd;
      text-align: center;
      font-size: 1.8rem;

      padding: 8px 12px;

      &:nth-of-type(even) {
        background-color: #eee;
      }
    }
  }
}

/* Modal Styles */

div {
  .modal.show .modal-dialog {
    transform: translateY(20%);

    .modal-body {
      display: flex;

      .modal-info {
        display: flex;

        img {
          width: 150px;
          height: 150px;
        }

        div {
          margin: 10px;
        }
      }
    }

    .modal-footer {
      justify-content: space-between;
    }
  }
}
