.trip-form__container {
  height: 100vh;
  padding: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    border: 1px solid red;

    .flexColumnCenter();
    justify-content: space-around;

    height: 600px;
    width: 100%;
    max-width: 500px;

    padding: 50px;
    font-size: 1.4rem;

    h2 {font-size: 3.6rem;}

    div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

      input {
        width: 100%;
        max-width: 300px;
      }
    }

    .textbox {
      display: flex;
      justify-content: space-between;
    }

    .checkbox {
      width: 75px;
    }

    .description {
      .flexColumnCenter();
      align-items: flex-start;

      max-width: 1000px;

      textarea {
        width: 100%;
        min-height: 100px;
        max-height: 350px;
        max-width: 600px;
      }
    }
  }
}
