html {
  font-size: 62.5%;
}
html body {
  background-image: url("../img/guidr-background.jpg");
  background-position: 14%14%;
  background-size: 2200px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.denied {
  background-color: #D3D3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 30vh auto;
  padding: 75px 50px;
  width: 40%;
  height: 350px;
}
.denied a {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #009ac0;
}
.denied a:hover {
  text-decoration: none;
  color: #133139;
}
.linkSpace {
  width: 200px;
}
.login {
  background-image: linear-gradient(to left bottom, #f99e54, #dea142, #c1a338, #a3a435, #83a33b, #68a851, #49ac69, #1cae82, #00b5a8, #00bbc7, #4ebedd, #7fc0e8);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 50000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login div .login__form--container {
  width: 100%;
  max-width: 450px;
  height: 600px;
  margin-bottom: 15px;
  background-color: #55A04B;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}
.login div .login__form--head {
  background-image: url("../img/login-header-bg.jpeg");
  background-color: #D3D3D3;
  height: 250px;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.login div .login__form--head h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 4.8rem;
  color: #eee;
}
.login div form {
  margin-top: 70px;
  width: 80%;
}
.login div form img {
  width: 150px;
}
.login div form .login__input--container {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column-reverse;
}
.login div form .login__input--container i {
  margin-right: 12px;
  color: #eee;
}
.login div form .login__input--container input {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #133139;
  padding: 5px 10px;
  height: 25px;
  width: 50%;
  color: #eee;
  letter-spacing: 1px;
  transition: width 0.7s, height 0.7s, background-color 0.7s, color 0.7s;
}
.login div form .login__input--container input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.65);
}
.login div form .login__input--container input:focus {
  outline: none;
  height: 35px;
  width: 65%;
  background-color: #133139;
}
.login div form .login__input--container input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #eee;
}
.login div form .login__input--container input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #eee;
}
.login div form .login__input--container input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #eee;
}
.login div form .login__input--container input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #eee;
}
.login div form div {
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 25px;
}
.login div form div span {
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-left: 7px;
}
.login div form button {
  display: block;
  margin: 0 auto;
  border: 2px solid #133139;
  height: 30px;
  width: 150px;
  background-color: transparent;
  color: #133139;
  letter-spacing: 1px;
  font-size: 1.6rem;
  transition: background-color 0.5s, color 0.5s, height 0.5s, width 0.5s, font-size 0.5s;
}
.login div form button:focus {
  outline: none;
}
.login div form button:hover {
  background-color: #133139;
  color: #eee;
  height: 40px;
  width: 170px;
  font-size: 2rem;
}
.login div p {
  font-size: 1.8rem;
  color: #133139;
}
.login div p span {
  margin-left: 5px;
  color: #133139;
  text-decoration: underline;
  cursor: pointer;
}
.navigation {
  position: fixed;
  z-index: 9001;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #f99e54;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
}
.navigation .search {
  margin-right: 13%;
}
.navigation .search button {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.navigation .normal {
  color: #f99e54;
  box-sizing: border-box;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 300ms;
}
@media (min-width: 1024px) {
  .navigation .normal {
    color: #133139;
  }
  .navigation .normal:hover {
    color: #f99e54;
  }
}
.navigation .normal:hover {
  text-decoration: none;
}
.navigation .active {
  color: #133139;
  background-color: #f99e54;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .navigation .active {
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
  }
  .navigation .active:hover {
    color: #f99e54;
  }
}
.navigation button {
  border: 1px solid #133139;
  font-weight: 500;
  color: #133139;
  background-color: transparent;
  padding: 3px 8px;
  margin: 0 30px 0 15px;
  transition: background-color 0.4s;
}
.navigation button:hover {
  background-color: #f99e54;
  color: black;
}
.home {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.home .home-search {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.home-search .side-panel {
  width: 100%;
}
.home-search .side-panel .side-panel__title {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #eee;
}
.home-search .side-panel .search {
  background-color: #D3D3D3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #eee;
  padding: 20px;
}
.home-search .side-panel .search input {
  width: 30%;
  height: 25px;
  border: none;
  padding-left: 5px;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
.home-search .side-panel .search input:focus {
  outline: none;
}
.home-search .side-panel .search button {
  border: none;
  background-color: #55A04B;
  color: #eee;
  height: 25px;
  width: 85px;
  font-size: 1.4rem;
}
.home-search .side-panel .side-panel__btn--container {
  display: flex;
}
.home-search .side-panel .side-panel__btn--container .side-panel__btn {
  font-size: 2.4rem;
  letter-spacing: 3px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #eee;
  background-color: #D3D3D3;
}
.home-search .side-panel .side-panel__btn--container .side-panel__btn:hover {
  background-color: #f99e54;
}
.home-search .side-panel .side-panel__btn--container .side-panel__btn:focus {
  outline: none;
  background-color: #55A04B;
}
.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-top: 30px;
}
.user-grid .user-grid__card {
  background-color: #eee;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.user-grid .user-grid__card .user-grid__card__banner {
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: #7fc0e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-grid .user-grid__card .modal-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-grid .user-grid__card .modal-container button {
  margin-bottom: 10px;
  border-radius: 20px;
  width: 75px;
}
.portfolio {
  width: 100%;
  max-width: 1026px;
  margin: 75px auto;
}
.portfolio .portfolio__profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: white;
}
.portfolio .portfolio__profile .btn {
  position: absolute;
  top: 5px;
  right: 0;
}
.portfolio .portfolio__profile .btn:last-of-type {
  right: 45px;
}
.portfolio .portfolio__profile .portfolio__profile__bio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 250px;
}
.portfolio .portfolio__profile .portfolio__profile__bio img {
  width: 100px;
  height: 100px;
}
.portfolio .portfolio__profile h3 {
  width: 40%;
}
.portfolio .portfolio__profile .portfolio__profile__time {
  margin: 40px 20px 25px 15px;
}
.portfolio .portfolio__profile .portfolio__profile__time p {
  font-size: 1.6rem;
}
.portfolio .portfolio__profile .spacer {
  flex: 2;
}
.home-search,
.portfolio-container {
  /* Grid Styles */
}
.home-search .grid,
.portfolio-container .grid {
  width: 100%;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .home-search .grid,
  .portfolio-container .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home-search .grid .tripgrid__card,
.portfolio-container .grid .tripgrid__card {
  background-color: #D3D3D3;
  text-align: center;
  font-size: 1.8rem;
  padding: 8px 12px;
}
.home-search .grid .tripgrid__card:nth-of-type(even),
.portfolio-container .grid .tripgrid__card:nth-of-type(even) {
  background-color: #eee;
}
/* Modal Styles */
div ModalHeader {
  display: flex;
  justify-content: space-between;
}
div .modal.show .modal-dialog {
  background-color: rgba(106, 162, 197, 0.5);
  transform: translateY(20%);
}
div .modal.show .modal-dialog .modal-body {
  display: flex;
  background-color: rgba(106, 162, 197, 0.5);
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 5px;
  padding: 26px 6px;
  border: 2px solid #f99e54;
  -webkit-box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
}
div .modal.show .modal-dialog .modal-body .modal-info {
  display: flex;
}
div .modal.show .modal-dialog .modal-body .modal-info Label {
  background-color: #55A04B;
  color: white;
  padding: 5px;
}
div .modal.show .modal-dialog .modal-body .modal-info img {
  width: 100%;
  height: 220px;
}
div .modal.show .modal-dialog .modal-body .modal-info div {
  margin: 10px;
}
div .modal.show .modal-dialog .modal-footer {
  justify-content: space-between;
}
Input {
  padding: 7px;
}
.trip-form__container {
  background-color: rgba(106, 162, 197, 0.5);
  width: 83%;
  max-width: 1000px;
  height: auto;
  margin: 125px;
  padding: 60px;
  border: 2px solid #f99e54;
  -webkit-box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
}
.trip-form__container form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.trip-form__container form Label {
  background-color: #55A04B;
  padding: 5px 15px;
  color: white;
  font-size: 16px;
  border-bottom-left-radius: 15%;
  border-top-left-radius: 15%;
}
.trip-form__container form h2 {
  background-color: rgba(127, 192, 232, 0.8);
  border-bottom: 3px solid #f99e54;
  padding: 15px;
  color: white;
  margin: 10px;
  margin-bottom: 25px;
  text-align: center;
  -webkit-box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
}
.trip-form__container form .textbox {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.trip-form__container form .middleSegment {
  display: flex;
  margin: 25px 0;
}
.trip-form__container form .middleSegment .typeAndTimes {
  display: flex;
  flex-direction: column;
  padding: 23px;
}
.trip-form__container form .middleSegment .typeAndTimes .duration {
  margin-top: 45px;
}
.trip-form__container form .middleSegment .typeAndTimes #date-picker {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}
.trip-form__container form .middleSegment .imageUploader img {
  width: 80%;
  margin-left: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
}
.trip-form__container form .middleSegment .imageUploader p {
  color: white;
  text-align: left;
  font-size: 15px;
}
.trip-form__container form .middleSegment .imageUploader .linkInput {
  display: flex;
  width: 80%;
}
.trip-form__container form .btnbox {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.trip-form__container form .btnbox .buttons {
  background-color: #009ac0;
  border: 2px solid #f99e54;
}
.trip-form__container form .btnbox .buttons:hover {
  background-color: white;
  color: #009ac0;
  -webkit-box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
}
.trip-form__container form .description {
  display: flex;
  flex-direction: row;
  margin: 25px;
}
.trip-form__container form .description .textarea {
  width: 80%;
  height: 100px;
}
.trip-form__container form .submit {
  width: 30%;
  align-self: center;
  margin-top: 40px;
  background-color: #009ac0;
  border: 2px solid #f99e54;
}
.trip-form__container form .submit:hover {
  background-color: white;
  color: #009ac0;
  -webkit-box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.4);
}
